div#toolbox > div
{
    background: #aaaaaa;
    border: 4px solid #777777;
    border-radius: 8px;
}

div#toolbox-main
{
    padding: 3px;
    text-align: center;
    transition: height 1s ease;
    overflow: hidden;
}

div#toolbox-main > div { margin: 0; padding: 0; border: 0; }
div#toolbox-main > div#toolbox-main-export { margin-top: 5px; border-top: 2px solid #cccccc; padding-top: 5px; }

div#toolbox-main > div > div
{
    display: inline-block;
    background: #999999;
    transition: background 1s ease-out;
    cursor: pointer;
    
    border: 2px solid #777777;
    border-radius: 4px;
    padding: 0px 5px;
    margin: 0px 3px;
    
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    user-select: none;
}
div#toolbox-main > div > div:hover { background: #bbbbbb; }
div#toolbox-export-container { display: none; }